@if (Request.IsAuthenticated) {
    <text>
        Ողջույն, @User.Identity.Name!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Դուրս գալ</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Մուտք գործել", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
