@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Սխալ";
}

<hgroup class="title">
    <h1 class="error">Սխալ.</h1>
    <h2 class="error">Գործարկման ընթացքում տեղի է ունեցել սխալ.</h2>
</hgroup>
