@{
    ViewBag.Title = "Home Page";
}

<h3>Ողջույն</h3>
<ol class="round">
    <li class="one">
        <h5>Գործողություններ</h5>
        <p>
            Ընտրեք որևէ էջ, համակարգը կառավարոլու համար:
        </p>
    </li>

   
</ol>
